.body {
    background-color: #f7f6f5;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.separate {
    width: 100%;
    margin-top: 35px;
    border: 1px solid black;
}