.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 100px;
}

.header-left {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .header {
        display: flex;
        align-items: flex-start;
        background-color: #f7f6f5;
        padding-top: 50px;
    }
}