table {
    width: 100%;
}

td {
    width: 73%;
}
.our-menu {
    text-align: center;
}
.show-more {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.link {
    display: flex;
    font-weight: 700;
}
.icon {
    width: 30px;
    height: 30px;
}

.icon-rotate {
    transform: rotate(-45deg);
}