.info-box {
    display: flex;
    position: relative;
}

.btn-icon {
    border: none;
    background-color: inherit;
}

.icon-dots {
    width: 40px;
    height: 40px;
}

.address {
    width: 245px;
    background-color: #fff;
    position: absolute;
    top: 72px;
    right: -8px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
}

.tel {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.our-address {
    cursor: pointer;
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .btn-icon {
        display: none;
    }

    .info-box {
        display: block;
        order: 2;
        width: 200px;
        height: 200px;
    }

    .address {
        width: 245px;
        position: relative;
        top: 0;
        right: 20px;
        text-align: start;
        box-shadow: none;
        background-color: inherit;
        padding-bottom: 0;
    }
}