.social-media {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100px;
}
.link-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
.link-social:hover {
    background-color: #f7f6f5;
    border-radius: 30px;
    cursor: pointer;
}