@media screen and (max-width: 1199px) {
    .menu-box {
        display: flex;
    }
    .btn-icon {
        border: none;
        background-color: inherit;
    }
    .icon-arrow {
        transform: rotate(180deg);
    }
    
    .icon-bar, .icon-arrow {
        width: 40px;
        height: 40px;
    }
    
    .list {
        width: 245px;
        background-color: #fff;
        line-height: 45px;
        position: absolute;
        left: 0;
        top: 90px;
        transition-property: left;
        transition-duration: 1s;
    }
    
    .list-items {
        padding: 0;
    }
    .item {
        list-style: none;
    }
    
    .item a {
        padding-left: 20px;
    }
    
    .list-hidden {
        left: -250px;
    }
    
    .item:hover {
        background-color: #d2c2b3;
    }
    
}

@media screen and (min-width: 1200px) {
    .menu-box {
        order: 1;
        background-color: inherit;
    }
    .btn-icon {
        display: none;
    }
    .list-items {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .list {
        line-height: 45px;
        position: relative;
    }
    .item {
        list-style: none;
        padding: 10px;
    }
    .item::after {
        content: "";
        display: block;
        height: 1px;
        width: 0;
        background-color: #333;
        transition-property: width;
        transition-duration: 0.5s;
    }
    .item:hover::after{
        cursor: pointer;
        width: 100%;
    }
}