.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular {
    text-align: center;
}
.products-img {
    width: 100%;
    height: 100%;
}
.products-logo {
    position: relative;
    width: 320px;
    height: 350px;
    padding-top: 20px;
}

.icon-bag {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden;
    background-color: aliceblue;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.products-logo:hover .overlay {
    visibility: visible;
}

.products-logo:hover .icon-bag {
    top: 50%;
}